<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />

  <title>{{ title }}</title>
  <meta name="description2" content="{{ description }}" />
</head>

<body>

<div id="content">
  <p>Today's Sunnyvale Garage Sale:</p>

  <ul>
  {% for item in favorites %}
    <li><a href="{{item.url}}">{{ item.name }}</a> Location: {{item.where}} Has Map: {{item.has_map}}</li>
  {% endfor %}
  </ul>
</div>

</body>
</html>
