<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />

  <title>{{ title }}</title>
  <meta name="description2" content="{{ description }}" />
</head>

<body>

<div id="content">
  <p>Iphones near 94087:</p>

  <ul>
  {% for item in favorites %}
    <li><a href="{{item.url}}">{{ item.name }}</a> Location:
{{item.where}} Price: {{item.price}}</li>
  {% endfor %}
  </ul>
</div>

</body>
</html>
