<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />

  <title>{{ title }}</title>
  <meta name="description2" content="{{ description }}" />
</head>

<body>

<div id="content">
  <p>Parking Pass Report - new items since last run:</p>

  <ul>
  {% for item in favorites %}
    <li><a href="{{item.url}}">{{ item.name }}</a> Price: {{item.price}} Location: {{item.location}}</li>
  {% endfor %}
  </ul>
</div>

</body>
</html>
